 html,body{
  margin: 0;
  padding: 0;}
 #foto_equipo1{
      width:1200px;
      position: absolute;
      top: 220px;
      left:160px;}
  #foto_equipo2{
      width:356px;
      position: absolute;
      top: 1370px;
      left:150px;}
 #menu{
      position: sticky;
      top:20px;
      left:200px;
      color:white;
      font-size:20px;
      z-index:102;
      vertical-align:middle;}
 a.menu{
    color:white;
    text-decoration:none;}
 #subtitulo1{
    position:absolute;
    text-align:justify;
    font-size:20;
    max-width:300px;
    top:1080px;
    left:170px;
    }
  #subtitulo2{
    position:absolute;
    text-align:justify;
    font-size:20;
    max-width:300px;
    top:1080px;
    left:900px;
    }
  #subtitulo3{
    position:absolute;
    text-align:justify;
    font-size:20;
    max-width:300px;
    top:1690px;
    left:230px;
    z-index:4}
  #subtitulo4{
    position:absolute;
    text-align:justify;
    font-size:20;
    max-width:300px;
    top:1690px;
    left:670px;
    }
  #subtitulo5{
    position:absolute;
    text-align:justify;
    font-size:20;
    max-width:300px;
    top:1690px;
    left:1100px;
    }
 #parrafo1{
    position:absolute;
    text-align:justify;
    font-size:21px;
    max-width:350px;
     top:1140px;
    left:150px;
    }
 #parrafo1{
    position:absolute;
    text-align:justify;
    font-size:21px;
    max-width:350px;
     top:1140px;
    left:150px;
    }
 #valores1{
    position:absolute;
    text-align:justify;
    font-size:21px;
    max-width:350px;
     top:1140px;
    left:650px;
    }
 #valores2{
    position:absolute;
    text-align:justify;
    font-size:21px;
    max-width:350px;
     top:1140px;
    left:1050px;
    }
 #horario{
    position:absolute;
    text-align:justify;
    font-size:25px;
    max-width:350px;
     top:1780px;
    left:670px;
    }
 #mapa{
 position:absolute;
 top:1780px;
 left:150px;
 }
 #facebook{
 width:100px;
 position:absolute;
 top:1790px;
 left:1040px;
        }
  #instragram{
 width:142px;
 position:absolute;
 top:1771px;
 left:1140px;
        }
 #whatsapp{
 width:186px;
 position:absolute;
 top:1789px;
 left:1240px;
        }